In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import numpy as np
import os

# import data

In [5]:
path = r"C:\Users\TinaM\Desktop\TMB_File\UTS_JUN_2023\AdvDSL_36114\AT2\ADSI_AT2"
df_raw = pd.read_csv(path + r"\data\raw\beer_reviews.csv")
df_raw.head()

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969
4,1075,Caldera Brewing Company,1293735206,4.0,4.5,4.0,johnmichaelsen,American Double / Imperial IPA,4.0,4.5,Cauldron DIPA,7.7,64883

In [6]:
df_raw.info()
# brewery_name, review_profilename and  beer_abv has missing value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586614 entries, 0 to 1586613
Data columns (total 13 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   brewery_id          1586614 non-null  int64
 1   brewery_name        1586599 non-null  object
 2   review_time         1586614 non-null  int64
 3   review_overall      1586614 non-null  float64
 4   review_aroma        1586614 non-null  float64
 5   review_appearance   1586614 non-null  float64
 6   review_profilename  1586266 non-null  object
 7   beer_style          1586614 non-null  object
 8   review_palate       1586614 non-null  float64
 9   review_taste        1586614 non-null  float64
 10  beer_name           1586614 non-null  object
 11  beer_abv            1518829 non-null  float64
 12  beer_beerid         1586614 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 157.4+ MB

# drop columns

In [7]:
# Drop the columns
features_drop = ['brewery_id','review_time','review_overall','review_profilename','beer_name','beer_beerid']
df = df_raw.drop(features_drop, axis=1)
df.shape

(1586614, 7)

# split train, test, val

In [12]:
df['brewery_name']

0                      Vecchio Birraio
1                      Vecchio Birraio
2                      Vecchio Birraio
3                      Vecchio Birraio
4              Caldera Brewing Company
                      ...
1586609    The Defiant Brewing Company
1586610    The Defiant Brewing Company
1586611    The Defiant Brewing Company
1586612    The Defiant Brewing Company
1586613    The Defiant Brewing Company
Name: brewery_name, Length: 1586614, dtype: object

In [23]:
# drop column with missing values
# brewery_name, review_profilename and  beer_abv has missing value
df.dropna(subset=['brewery_name', 'beer_style', 'beer_abv'], inplace=True)
df.reset_index(drop=True, inplace=True)
# from 1,586,614 to 1,518,814

In [24]:
df

,brewery_name,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv
0,Vecchio Birraio,2.0,2.5,Hefeweizen,1.5,1.5,5.0
1,Vecchio Birraio,2.5,3.0,English Strong Ale,3.0,3.0,6.2
2,Vecchio Birraio,2.5,3.0,Foreign / Export Stout,3.0,3.0,6.5
3,Vecchio Birraio,3.0,3.5,German Pilsener,2.5,3.0,5.0
4,Caldera Brewing Company,4.5,4.0,American Double / Imperial IPA,4.0,4.5,7.7
...,...,...,...,...,...,...,...
1518809,The Defiant Brewing Company,4.0,3.5,Pumpkin Ale,4.0,4.0,5.2
1518810,The Defiant Brewing Company,5.0,2.5,Pumpkin Ale,2.0,4.0,5.2
1518811,The Defiant Brewing Company,3.5,3.0,Pumpkin Ale,3.5,4.0,5.2
1518812,The Defiant Brewing Company,4.5,4.5,Pumpkin Ale,4.5,4.5,5.2
1518813,The Defiant Brewing Company,4.5,4.5,Pumpkin Ale,4.5,4.5,5.2

In [25]:
print(len(df))
print(len(df['brewery_name']))
print(len(df['beer_style']))

1518814
1518814
1518814

In [29]:
from sklearn.model_selection import train_test_split
# Split the DataFrame into train and remaining data, ensuring stratified sampling based on 'brewery_name' and 'beer_style'
train_df, remaining_df = train_test_split(df, test_size=0.3, stratify=df['beer_style'], random_state=42)

# Split the remaining data into test and validate, ensuring stratified sampling based on 'brewery_name' and 'beer_style'
test_df, val_df = train_test_split(remaining_df, test_size=0.5, stratify=remaining_df['beer_style'], random_state=42)


# Save the train DataFrame as CSV
train_df.to_csv('../data/interim/train.csv', index=False)

test_df.to_csv('../data/interim/test.csv', index=False)

val_df.to_csv('../data/interim/validate.csv', index=False)

# Print the shape of each set
print("Train set shape:", train_df.shape)
print("Test set shape:", test_df.shape)
print("Validate set shape:", val_df.shape)

Train set shape: (1063169, 7)
Test set shape: (227822, 7)
Validate set shape: (227823, 7)

In [94]:
## there are 5741 different brewery_names & 104 beer_styles in full dataset
# Check brewery_name
train_df_brewery_name_counts = train_df['brewery_name'].value_counts().reset_index() # = 4901 out of the 5741

# target classes
train_df_beer_style_counts = train_df['beer_style'].value_counts().reset_index() # = 104 out of the 104

# Pre-process

In [63]:
train_df = pd.read_csv('../data/interim/train.csv')
test_df = pd.read_csv('../data/interim/test.csv')
val_df = pd.read_csv('../data/interim/validate.csv')

In [35]:
train_df

,brewery_name,review_aroma,review_appearance,beer_style,review_palate,review_taste,beer_abv
298313,Boston Beer Company (Samuel Adams),3.0,3.0,Witbier,3.5,3.5,5.50
1431296,"Pyramid Breweries, Inc.",4.0,2.0,American Pale Wheat Ale,4.0,3.5,5.00
1067753,Smuttynose Brewing Company,3.0,3.0,Fruit / Vegetable Beer,3.0,3.0,5.70
176120,AleSmith Brewing Company,5.0,4.5,American IPA,4.5,5.0,7.25
543880,Berkshire Brewing Company Inc.,3.5,4.0,English India Pale Ale (IPA),4.5,4.0,5.50
...,...,...,...,...,...,...,...
537745,Boulevard Brewing Co.,4.0,4.0,Doppelbock,3.5,4.0,8.50
631667,"Cervecería Cuauhtémoc Moctezuma, S.A. de C.V.",1.5,2.0,German Pilsener,2.5,1.5,5.30
328187,Brasserie de Rochefort,4.5,4.0,Quadrupel (Quad),4.0,4.5,11.30
237313,Mystic Brewery,4.0,4.0,English Stout,3.0,4.0,7.00
1158971,Heavy Seas Beer,4.5,4.0,American IPA,4.5,4.0,7.25

In [40]:

target_col = ['beer_style']
all_features_list = [col for col in train_df.columns if col not in target_col]
features_cate_col = ['brewery_name']
features_numeric_col = [col for col in all_features_list if col not in features_cate_col]

X_train_df = train_df.drop(columns=target_col)
y_train_df = train_df[target_col]

In [64]:
print (f'before drop NA and target shape {train_df.shape}.')
print (f'after drop NA and target shape {X_train_df.shape}.')
print(f'Diff is {train_df.shape[0]-X_train_df.shape[0]} rows.')

before drop NA shape (1063169, 7).
after drop NA shape (1063169, 6).
Diff is 0 rows.

In [31]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder
scaler = StandardScaler()
encoder = OneHotEncoder()

In [32]:
# save the scaler for later
from joblib import dump
dump(scaler, '../models/scaler.joblib')
dump(encoder, '../models/encoder.joblib')

['../models/encoder.joblib']

In [67]:
from joblib import load
import pandas as pd

numeric_transformer = load('../models/scaler.joblib')
categorical_transformer = load('../models/encoder.joblib')

In [70]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', categorical_transformer, features_cate_col),
         ('num', numeric_transformer, features_numeric_col)
     ])

In [71]:
cat_feature_names = [] 
X_preprocessed = preprocessor.fit_transform(X_train_df)

In [75]:
print("Shape of X_preprocessed:", X_preprocessed.shape)

Shape of X_preprocessed: (1063169, 4906)

In [79]:
numeric_feature_names = numeric_transformer.get_feature_names_out(input_features=features_numeric_col)
num_numeric_features = len(numeric_feature_names) # 5

cat_feature_names = preprocessor.named_transformers_['cat'].get_feature_names_out(input_features=features_cate_col)
num_cat_features = len(cat_feature_names) # 4901

# Update the length of cat_feature_names to match the number of generated features
#cat_feature_names = cat_feature_names[:num_cat_features - num_numeric_features]

column_names = list(cat_feature_names) + list(numeric_feature_names)

In [92]:
print(f'First 5 columns names are: {column_names[:5]}.')
print(f'Last 5 columns names are: {column_names[-5:]}.')

First 5 columns names are: ["brewery_name_'t Hofbrouwerijke", 'brewery_name_(512) Brewing Company', 'brewery_name_10 Barrel Brewing Co.', 'brewery_name_1516 Brewing Company', 'brewery_name_16 Mile Brewing Company'].
Last 5 columns names are: ['review_aroma', 'review_appearance', 'review_palate', 'review_taste', 'beer_abv'].

In [80]:
print("Length of column_names:", len(column_names)) # 4906 by the X_preprocessed has 4906 columns
print("Length of numeric_feature_names:", len(numeric_feature_names)) # 5
print("Length of cat_feature_names:", len(cat_feature_names)) # 4901
print("Shape of X_preprocessed:", X_preprocessed.shape) #(1063169, 4906)

Length of column_names: 4906
Length of numeric_feature_names: 5
Length of cat_feature_names: 4901

In [91]:
# convert to a df
X_dense = X_preprocessed.toarray()
X_preprocessed_df = pd.DataFrame(X_dense, columns=column_names)

In [93]:
X_preprocessed_df.head()

,brewery_name_'t Hofbrouwerijke,brewery_name_(512) Brewing Company,brewery_name_10 Barrel Brewing Co.,brewery_name_1516 Brewing Company,brewery_name_16 Mile Brewing Company,brewery_name_1648 Brewing Company Ltd,brewery_name_2 Brothers Brewery,brewery_name_21st Amendment Brewery,brewery_name_23rd Street Brewery,brewery_name_2nd Shift Brewery,...,brewery_name_Ölvisholt Brugghús,brewery_name_Öufi Brauerei,brewery_name_Ølfabrikken,brewery_name_Ørbæk Bryggeri,brewery_name_Łódzkie Browary S.A.,review_aroma,review_appearance,review_palate,review_taste,beer_abv
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-1.072376,-1.384099,-0.374087,-0.417355,-0.663450
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.364748,-3.011033,0.361897,-0.417355,-0.878624
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-1.072376,-1.384099,-1.110070,-1.103369,-0.577380
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.801872,1.056301,1.097880,1.640687,0.089659
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.353814,0.242834,1.097880,0.268659,-0.663450